.pb-none {
  padding-bottom: 0;
}

/* features card block */

.features-cards {
  display: flex;
  &__gap {
    gap: 30px;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--third-bcg-color);
    border-radius: 4px;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: $text-fs-main;
    line-height: $text-lh-sec;
    letter-spacing: $text-ls-main;
    text-transform: uppercase;
    color: var(--titles-color);
  }
  &__text {
    width: 270px;
    font-size: $text-fs-main;
    line-height: $text-lh-main;
    letter-spacing: $text-ls-main;
    color: var(--text-color);
  }
}
