/*----------BASEMENT------------*/
.basement {
  background-color: var(--sec-bcg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__block {
    display: inline-block;
  }
  &__logo {
    margin-bottom: 20px;
  }
}

// address block
.address {
  display: inline-block;
  font-size: $text-fs-main;
  line-height: $text-lh-main;
  letter-spacing: $text-ls-main;
  color: var(--light-titles-color);
  &__basement {
    margin-bottom: 9px;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    display: inline-block;
    font-size: $link-fs-main;
    line-height: $link-lh-sec;
    letter-spacing: $link-ls-sec;
    color: var(--basement-contacts-color);
    transition: color var(--transition-main);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
