/*----------HEADER-----------*/
.header {
  background-color: var(--first-bcg-color);
  border-bottom: 1px solid #ececec;
}

.contacts__header {
  margin-left: auto;
  gap: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: $link-fs-main;
  line-height: $link-lh-main;
  letter-spacing: $link-ls-main;
  color: var(--text-color);
  transition: color var(--transition-main);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
