/*----------HERO-----------*/
.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bcg-color);
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__title {
    margin: 0 auto 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-titles-color);
  }
}

// hero button

.hero-btn {
  display: block;
  min-width: 221px;
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  transition: color var(--transition-main),
    background-color var(--transition-main);
  &:hover,
  &:focus {
    background-color: var(--sec-bcg-btn-color);
    color: var(--first-font-btn-color);
  }
}
